* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #1ae7aa;
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.screen {
    display: none;
    min-width:30vw;
    
}

.active {
  
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.container {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.3);
    width:100%;
    max-width:600px;
    padding: 1rem;
}



.start-screen h2 {
    color: rgb(9, 174, 59);
    margin-bottom: 20px;
    margin-top: 20px;
}

.start-screen p {

    margin: 0px 20px 40px 20px;


}

.start-screen button {
    margin-top: 20px;

    margin-bottom: 10px;
    border: none;
    background-color: #c8430a;
    color: white;
    padding: 10px 15px;
    border-radius: 10px;
    cursor: pointer;

}



.start-screen p {

    margin: 0px 20px 10px 20px;


}

.quiz-screen{
    min-width:40vw;
}

.quiz-screen h2 {
    margin-top:20px;
    color: black;

}
.quiz-info {
    display: flex;
    justify-content: space-between;
    width:100%;
    margin:10px 20px;
}
.qn{
    margin-left:40px;
}
.s{
    margin-right:40px;
}
.answers{
display:flex;
flex-direction:column;
gap:5px;

}

.ans{
padding-top:10px;
width: 34vw;
height: 6vh;
border:2px solid gray;
background-color: #cbc0c0;
padding-left:10px;
border-radius:5px


}

.result-screen h2{
     color: rgb(9, 174, 59);
    margin-bottom: 20px;
    margin-top: 20px;

}
.main{
    background-color: #eccdcd;
    border-radius:10px;

}
.main2{
    padding:20px 100px;

}


.result-btn{
        margin-top: 20px;

    margin-bottom: 10px;
    border: none;
    background-color: #c8430a;
    color: white;
    padding: 10px 15px;
    border-radius: 10px;
    cursor: pointer;

}


