@import url(https://fonts.googleapis.com/css?family=Poppins:100,100italic,200,200italic,300,300italic,regular,italic,500,500italic,600,600italic,700,700italic,800,800italic,900,900italic);
*{
    margin: 0;
    padding: 0;
    box-sizing:border-box;

}
body{
    display:flex;
    justify-content:center;
    align-items:center;
    min-height:100vh;
    background-color: #871E98;
    font-family:"poppins";
    padding:1rem;
}
.container{
    background-color: white;
    width:100%;
    max-width:400px;
    border-radius:10px;

}
.form-container{
    box-shadow:0px 0px 10px rgba(0,0,0,0.4);
    padding:1rem;
}
h2{
    text-align:center;
  

}
.form-group label{
    display:block;
    font-size:1rem;
    font-weight:600;
    margin-bottom:3px;
    margin-top:14px;
}
.form-group input{
    display:block;
    width:100%;
    padding:10px;
    
    border-radius:5px;
    border:2px solid grey;
    font-size:1rem;
    /* font-weight:600; */
    transition:all 0.1s ease;
    position:relative;

}
button{
    padding:10px;
    color:white;
    font-size:16px;
    background-color: rgb(66, 66, 172);
    width:100%;
    margin-top:25px;
    border:none;
    /* font-weight:; */
    transition:all 0.3s ease;
    border-radius:5px;
    cursor:pointer;

}
button:hover{
    transform:scale(1.03)

}
input:focus{
    outline:none;
    border:2.5px solid rgb(66, 66, 172);

}

small{
    position:absolute;
    left:94px;
    visibility:hidden;

}
.error small{
    color:red;
    visibility:visible;
}
.error input{
    border:2px solid red;
}
